{% extends 'bankapp/base.html' %}
{% block content %}
    <div class="transfer-warning">
        <h3>You are about to transfer {{ amount }} to {{ receiver.first_name|upper }} {{ receiver.last_name|upper }}</h3>
        <h4 class="warning-text">
            <p>You will be charged N10.00 for this transaction</p>
            <p>Do you wish to continue?</p>
        </h4>
        <div class="button-items">
            <span><button><a href="{% url 'execute_transfer' %}">Yes, Continue</a></button></span>
            <span><button><a href="{% url 'bankapp_home' %}">No, Cancel</a></button></span>
        </div>
        
    </div>

    
{% endblock content %}